<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Список курсов</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/category-list/">Список категорий</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/create-category/">Создать категорию</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/create-course/">Создать курс</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contacts/">Контакты</a>
  </li>
</ul>